@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");
.App{
  background-image: url("https://wallpaperaccess.com/full/1745055.jpg");
  background-color: darkslateblue;
  width: 50%;
  padding: 60px 20px;
  border-radius: 5px;
 
}

h1{
  font-family: 'Orbitron', sans-serif;
  color: #fdcd06;
}

h2{
  font-family: 'Orbitron', sans-serif;
  color: white;
  size: 20px;
  position: relative;
}

button{
  font-family: 'orbitron', sans-serif;
  background-color: white;
  opacity: .9;
  color: #fdcd06;
  width: 100px;
  height: 50px;
  border-color: #fdcd06;
  border-radius:  10px;
  margin: 20px;
  position:relative;
}